.vscode
node_modules
docs/.vuepress/dist
yarn.lock
package-lock.json
test/test-nginx/t/servroot
test/test-nginx/t/*.t
inc/libinjection
inc/libsodium
inc/ngx_http_waf_module_lexer.h
inc/ngx_http_waf_module_parser.tab.h
src/ngx_http_waf_module_lexer.c
src/ngx_http_waf_module_parser.tab.c
*.so