name: test

on: 
  push:
    branches:
  pull_request:
  schedule:
    - cron: '0 0 * * SUN'
  workflow_dispatch:


defaults:
  run:
    shell: bash

jobs:
  self-trigger:
    runs-on: ubuntu-latest
    if: ${{ github.event_name	== 'schedule' }}
    steps:
      - name: Trigger
        run: |
          curl -H "Authorization: token ${{ secrets.ACCESS_TOKEN }}" \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/ADD-SP/ngx_waf/actions/workflows/${{ github.workflow }}.yml/dispatches \
            -d '{"ref":"refs/heads/lts"}'
          curl -H "Authorization: token ${{ secrets.ACCESS_TOKEN }}" \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/ADD-SP/ngx_waf/actions/workflows/${{ github.workflow }}.yml/dispatches \
            -d '{"ref":"refs/heads/current"}'
  native:
    runs-on: ubuntu-latest
    if: ${{ github.event_name	!= 'schedule' }}
    strategy:
      matrix:
        nginx-version: ['stable nginx', 'mainline nginx']
        install-type:  ['static module', 'dynamic module']
    steps:
      - uses: actions/checkout@v2
        with: 
          ref: ${{ github.ref }}
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          sudo apt-get --yes update
          sudo apt-get install --yes libsodium23 libsodium-dev build-essential zlib1g-dev libpcre3 libpcre3-dev libssl-dev libxslt1-dev libxml2-dev libgeoip-dev libgd-dev libperl-dev uthash-dev flex bison
          sudo pip install lastversion
      - name: Download ${{ matrix.nginx-version }}
        run: |
          chmod 777 -R ${{ github.workspace }}
          sudo make parser
          sudo git clone https://github.com/libinjection/libinjection.git inc/libinjection
          if [ ${{ matrix.nginx-version }} = 'stable nginx' ] ; then  \
            version='stable' ;\
          else  \
            version='mainline' ;\
          fi
          lastversion download nginx:${version}
          mkdir nginx-src
          tar zxf nginx-*.tar.gz --directory nginx-src --strip-components=1
      - name: Configure ${{ matrix.install-type }}
        run: |
          cd nginx-src
          if [ ${{ matrix.install-type }} = 'static module' ] ; then \
            opt='--add-module' ;\
          else \
            opt='--add-dynamic-module' ;\
          fi
          ./configure ${opt}=.. --with-cc-opt='-Wno-unused-but-set-variable -Wno-unused-function -fstack-protector-strong'
      - name: Install ${{ matrix.nginx-version }}
        run: |
          cd nginx-src
          make
          sudo make install
          sudo useradd nginx -s /sbin/nologin -M
          sudo chmod 777 -R /usr/local/nginx
          sudo ln -s /usr/local/nginx/sbin/nginx /usr/local/bin/nginx
      - name: Initialize nginx.conf
        run: |
          sudo chmod 777 -R test
          sudo ./test/init-conf.sh /usr/local/nginx
      - name: Test urls
        run: |
          sudo nginx
          sudo ./test/test-url.sh
          sudo nginx -s stop
      - name: Test args
        run: |
          sudo nginx
          sudo ./test/test-args.sh
          sudo nginx -s stop
      - name: Test cookies
        run: |
          sudo nginx
          sudo ./test/test-cookie.sh
          sudo nginx -s stop
      - name: Test user-agents
        run: |
          sudo nginx
          sudo ./test/test-ua.sh
          sudo nginx -s stop
      - name: Test cc attack
        run: |
          sudo nginx
          sudo ./test/test-cc.sh
          sudo nginx -s stop
      - name: Test segmentation fault
        run: |
          if [ -e /usr/local/nginx/logs/core ] ; then \
            exit 1 ; \
          fi
  docker:
    runs-on: ubuntu-latest
    if: ${{ github.event_name	!= 'schedule' }}
    strategy:
      matrix:
        version: ['stable', 'mainline']
        target: ['glibc', 'musl']
    steps:
      - uses: actions/checkout@v2
        with: 
          ref: ${{ github.ref }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build module
        run: docker build --file docker/Dockerfile.${{ matrix.target }} --build-arg=VERSION=${{ matrix.version }} .
  triger:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && (github.ref == 'refs/heads/lts' || github.ref == 'refs/heads/current')) }}
    needs: ['native', 'docker']
    steps:
      - uses: actions/checkout@v2
        with: 
          ref: ${{ github.ref }}
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Set up lastversion
        run: pip3 install lastversion
      - name: 'Trigger workflow: docker'
        if: ${{ github.ref == 'refs/heads/lts' || github.ref == 'refs/heads/current' }}
        run: |
          curl -H "Authorization: token ${{ secrets.ACCESS_TOKEN }}"                                        \
            -X POST                                                                                         \
            -H "Accept: application/vnd.github.v3+json"                                                     \
            https://api.github.com/repos/ADD-SP/ngx_waf/actions/workflows/docker.yml/dispatches             \
            -d "{                                                                                           \
                  \"ref\":\"${{ github.ref }}\",                                                            \
                  \"inputs\": {                                                                             \
                    \"ngx_stable_version_number\": \"`lastversion https://nginx.org --major stable`\",      \
                    \"ngx_mainline_version_number\": \"`lastversion https://nginx.org --major mainline`\",  \
                    \"module_version_number\": \"`cat assets/version.txt`\"                                 \
                  }                                                                                         \
                }"
